body {
  font-family: 'Source Code Pro', monospace; }

nav {
  position: fixed;}


.titulo {
  font-size: 10pt;
  color: #6a6a6a;
}

.titulo-bajo {
  font-size: 10pt;
  color: #a0a0a0;
}

.icono {
  color: #6a6a6a;
}

.parrafo {
  font-size: 10pt;
  color: #a0a0a0;
}

.informacion {
  background-image: url(../img/informacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 5rem;


}

.quienes {
 margin-bottom: 10rem;
 margin-top: 30rem;
}
